<section class="container">
  <div class="title">
  <h2 class="top-header" style= "display: inline" >{{post.title}}</h2>
  <h3 class = "user" >Posted by {{post.user}} on {{post.date}}</h3>
  </div>
  <div>
    <h4 class= "text">{{post.content}}</h4>
  </div>
</section>