
    <h2 class="page-title">Add Post</h2>
    <form class="form createform">
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-input" type="text" placeholder={{post.title}} id="title" />
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <input class="form-input" type="text" id="content" placeholder={{post.content}} />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="update">Update</button>
      </div>
            <div class="form-group">
        <button class="btn btn-primary" type="delete">Delete</button>
      </div>
    </form>
    <script src="/js/formedit.js"></script>
